
.container {
  min-height: 100vh !important;
  min-width: 100vw;
  background: url('/images/bg2.jpg') no-repeat center center fixed;
  background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  -webkit-background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  /* animation: imgRotate infinite 80s; */
}

@keyframes imgRotate {
  0% {
    background: url('/images/bg1.jpg') no-repeat center center fixed;
    background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    -webkit-background-size: cover;
  }
  10% {
    background: url('/images/bg2.jpg') no-repeat center center fixed;
    background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    -webkit-background-size: cover;
  }

  20% {
    background: url('/images/bg3.jpg') no-repeat center center fixed;
    background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    -webkit-background-size: cover;
  }
  30% {
    background: url('/images/bg4.jpg') no-repeat center center fixed;
    background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    -webkit-background-size: cover;
  }
  40% {
    background: url('/images/bg5.jpg') no-repeat center center fixed;
    background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    -webkit-background-size: cover;
  }

  50% {
    background: url('/images/bg6.jpg') no-repeat center center fixed;
    background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    -webkit-background-size: cover;
  }
  60% {
    background: url('/images/bg7.jpg') no-repeat center center fixed;
    background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    -webkit-background-size: cover;
  }
  70% {
    background: url('/images/bg8.jpg') no-repeat center center fixed;
    background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    -webkit-background-size: cover;
  }
  80% {
    background: url('/images/bg9.jpg') no-repeat center center fixed;
    background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    -webkit-background-size: cover;
  }
  90% {
    background: url('/images/bg10.jpg') no-repeat center center fixed;
    background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    -webkit-background-size: cover;
  }

  100% {
    background: url('/images/bg11.jpg') no-repeat center center fixed;
    background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    -webkit-background-size: cover;
  }
}

.gradient {
  width: 100vw;
  height: 100vh;
  box-shadow: 10rem 10rem 1000px inset black;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
}