
.container{
  min-height: 100vh;
  min-width: 100vw;
  background: url('/images/bg.jpg') no-repeat center center fixed;
  background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  -webkit-background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

.gradient{
  width: 100vw;
  height: 100vh;
  box-shadow: 10rem 10rem 1000px inset black;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
}